body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f2f2f4;
  color: #555;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #0099CC;
}

a:hover {
  text-decoration: underline;
  color: #3474E0;
}

figure {
  margin: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0
}

.copy {
  font-size: 62.5%;
  padding: 0  10px;
}

.copy p, .copy pre, .copy ul, .copy dl {
  font-size: 1.6em;
  line-height: 1.5;
}

.copy p.intro {
  font-size: 1.8em;
  line-height: 1.5;
  font-weight: 300;
}

.copy h2 {
  font-size: 2.5em;
  font-weight: 300;
}

.copy .h2-bold {
  padding-top: 15px;
  font-weight: 700;
}

.copy pre {
  font-family: monospace;
  background: #fafafa;
  padding: 10px 15px;
  border: 1px solid #e2e2e2;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.copy dt {
  font-weight: bold;
}

.container {
  max-width: 700px;
  margin: auto;
  overflow: hidden;
}

#header {
  background: #222;
  padding: 30px;
  /* min-width: 700px; */
  position: relative;
}

#content {
  padding-top: 20px;
  padding-bottom: 40px;
}

h1 {
  font-size: 52px;
  margin: 0;
  padding: 0;
  font-weight: 300;
  color: #eee;
}

.hero {
  font-size: 22px;
  font-weight: 300;
  color: #ccc;
  margin: 0;
  padding: 0;
}

.figure-wrapper {
  /*text-align: center;*/
}

.image-container {
  display: inline-block;
  max-width: 100%;
  background: white;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #e2e2e2;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.image-container.target {
  margin-top: 40px;
}

.image-container img {
  max-width: 100%;
}

.image-container .image-meta {
  margin-top: 10px;
  font-size: 12px;
  text-align: left;
}
.image-container .image-meta a {
  text-decoration: none;
  color: #444;
}
.image-container .image-meta a:hover .image-meta-title {
  text-decoration: underline;
}

.btn-github-container {
  max-width: 300px;
  margin: 30px auto 10px;
}

.btn-github:hover {
  color: #eee;
  text-decoration: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #4198C7;
}

.btn-github {
  display: block;
  text-align: center;
  background-color: #3474E0;
  color: white;
  font-size: 18px;
  padding: 14px 20px;
  border-radius: 10px;
}

.warning {
  padding: 15px 20px;
  color: #664d03;
  background-color: #fff3cd;
  border: 1px solid #ffecb5;
  border-radius: 10px;
}

.doka-gif img {
  max-width: 100%;
  display: block;
  width: auto;
  height: auto;
  margin: 5px auto 10px;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
  border-radius: 20px;
}

.doka-gif img:hover {
  transform: scale(1.03);
  box-shadow:
    0 0 #0000,
    0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.doka-gif {
  text-align: center;
}

