.darkroom-container {
    position: relative;
}

.darkroom-toolbar {
    position: absolute;
    top: 0;
    left: 0;

    background: #444;
    height: 40px;
    display: inline-block;
}

.darkroom-image-container {
    position: absolute;
    top: 40px;
    left: 0;
}
.darkroom-image-container img {
    display: none;
}

.darkroom-button {
    background: transparent;
    color: #fff;
    font-weight: 300;
    border: none;
    font-size: 28px;
    outline: none;
}
.darkroom-button:hover {
    cursor: pointer;
    background: #555;
}
.darkroom-button:active {
    cursor: pointer;
    background: #333;
}

