body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f2f2f4;
  color: #444;
  margin: 0;
  padding: 0;
}

.container {
  width: 700px;
  margin: auto;
}

#header {
  background: #222;
  padding: 30px;
  margin-bottom: 40px;
  min-width: 700px;
  position: relative;
}

h1 {
  font-size: 52px;
  margin: 0;
  padding: 0;
  font-weight: 100;
  color: #eee;
}

.hero {
  font-size: 22px;
  font-weight: 100;
  color: #ccc;
  margin: 0;
  padding: 0;
}

.image-container {
  display: inline-block;
  background: white;
  padding: 10px;
  margin: 0;
  border: 1px solid #e2e2e2;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.image-container .image-meta {
  margin-top: 5px;
  font-size: 12px;
}
.image-container .image-meta a {
  text-decoration: none;
  color: #444;
}
.image-container .image-meta a:hover .image-meta-title {
  text-decoration: underline;
}
